{% extends "layouts/sistema/sistema.twig" %}

{% block head %}
    <link href="/templates/agenda/agenda.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h2 class="titulo  text-uppercase text-center">consultórios</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <div class="form-group dt-selecionada">
                <div class='input-group date'>
                <span class="input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
                    <input type='text' value="{{ data|date('d/m/Y') }}" class="form-control" title="Data"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        {% for resumo in resumos %}

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left truncate text-uppercase">{{ resumo.consultorio.nome }}</h3>
                    </div>
                    <div class="panel-body">
                        <p class="text-center">
                            {{ resumo.ocupacao_horarios.ocupados }}/{{ resumo.ocupacao_horarios.total }}
                        </p>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-primary btn-sm pull-right text-uppercase" href="/agenda/{{ data|date('Y-m-d') }}/consultorio/{{ resumo.consultorio.id }}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Acessar
                        </a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}

{% block scripts %}
    <script src="/templates/agenda/agenda.js"></script>
{% endblock %}