<div id="modal-consulta" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title"><strong>{{ usuario ? 'editar' : 'nova' }}</strong> consulta</h3>
            </div>
            <div class="modal-body">

                <form class="consulta">

                    <input type="hidden" name="consultorio" id="ipt-co-id" value="{{ consultorio.id }}">
                    <input type="hidden" name="horario" id="ipt-con-horario" value="{{ horario }}">
                    <input type="hidden" name="data" id="ipt-con-data" value="{{ data|date('Y-m-d') }}">
                    <input type="hidden" name="paciente" id="ipt-pac-id" value="{{ consulta.paciente.id }}">

                    <fieldset>
                        <legend>
                            <i class="fa fa-user" aria-hidden="true"></i> Paciente
                        </legend>
                        <div class="nome-pac form-group col-xs-12 col-sm-8 col-sm-offset-2">
                            <div class="form-group">
                                <input required type="text" id="ipt-pac-nome" class="typeahead form-control" autocomplete="off" placeholder="NOME DO PACIENTE" value="{{ consulta.paciente.nome }}">
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <dl class="dl-horizontal">
                                <dt>Nome</dt>
                                <dd class="pac-nome">{{ consulta.paciente.nome }}</dd>
                                <dt>Endereço</dt>
                                <dd class="pac-endereco">{{ consulta.paciente.endereco }}</dd>
                                <dt>Telefone(s)</dt>
                                <dd class="pac-telefones">{{ consulta.paciente.telefones }}</dd>
                            </dl>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>
                            <i class="fa fa-stethoscope" aria-hidden="true"></i> Consulta
                        </legend>
                        <div class="form-group col-xs-12">
                            <dl class="dl-horizontal">
                                <dt>Consultório</dt>
                                <dd>{{ consultorio.nome }}</dd>
                                <dt>Data</dt>
                                <dd>{{ data|date('d/m/Y') }}</dd>
                                <dt>Horário</dt>
                                <dd>{{ horario }}</dd>
                            </dl>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <label for="ipt-con-tipo" class="control-label">Tipo Consulta</label>
                            <select required name="tipo" id="ipt-con-tipo" class="form-control">

                                {% for tipo in tipos %}

                                    <option {{ consulta.tipo_id == tipo.id ? 'selected' : '' }} value="{{ tipo.id }}">{{ tipo.nome }}</option>

                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <label for="ipt-con-status" class="control-label">Status Consulta</label>
                            <select required name="status" id="ipt-con-status" class="form-control">

                                {% for st in status %}

                                    <option {{ consulta.status_id == st.id ? 'selected' : '' }} value="{{ st.id }}">{{ st.nome }}</option>

                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <label for="ipt-con-aluno" class="control-label">Nome Aluno(a)</label>
                            <input required name="responsavel" id="ipt-con-aluno" type="text" class="form-control" value="{{ consulta.responsavel }}">
                        </div>
                    </fieldset>

                </form>

            </div>
            <div class="modal-footer">

                {% if consulta %}

                    <button class="remover btn btn-danger pull-left" data-action="/cadastro/consulta/{{ consulta.id }}">
                        <i class="fa fa-trash-o" aria-hidden="true"></i> Remover
                    </button>
                    <button class="atualizar btn btn-primary" data-action="/cadastro/consulta/{{ consulta.id }}">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Salvar
                    </button>

                {% else %}

                    <button class="novo btn btn-success" data-action="/cadastro/consulta">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar
                    </button>

                {% endif %}

            </div>
        </div>
    </div>
</div>